{
  "semi": false,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn", "tw", "classnames"],
  "overrides": [
    {
      "files": ["*.css", "*.html"],
      "options": {
        "parser": "html",
      },
    },
  ],
}
